<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WhatToDo</title>
</head>
<body>
    <div>
        <h1>WhatToDo</h1>
        <br>
        <h2>Greatest To Do List Ever!</h2>
    </div>
    <div>
        <form action="/tasks" method="post">
            <div>
                <input type="text" name="title" placeholder="Add new task..." required>
            </div>
            <div>
                <button type="submit">Add</button>
            </div>
        </form>
        <th:block th:each="task : ${tasks}">
            <div>
                <span th:text="${task.title}">Task Title</span>
            </div>
        </th:block>
    </div>

</body>
</html>